pinecone
boto3
streamlit
nltk
docx2txt
PyPDF2
odf
sharepoint-to-text
docx2txt2
spacy
click==8.2.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz --user
openai
google-generativeai
mistralai==1.9.11
pypdf
reportlab
python-docx
odfpy